.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
body{
    background-color:hsl(212, 45%, 89%) ;
    font-family: "Outfit", sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0;
}

@media (min-width: 1440px){
    
}

.container{
    background-color: white;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 12px;
    border-radius: 16px;
    margin: auto;
    
}

img{
    width: 250px;
    height: 250px;
    border-radius: 8px;
}

h3{
margin: 8px 2px;
font-weight: 700;
}

p{
    color: rgb(119, 118, 118);
    font-size: 15px; 
    font-weight: 400;
    margin:8px 4px 16px 4px;
}
